* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    background: linear-gradient(#2d545e, #e1b382);
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
}
nav {
    margin: 10px;
}
ul {
  display: inline-flex;
  list-style-type: none;
  float: right;
  max-width: 100%;
  max-height: 100%;
}
li {
    padding-right: 8px;
    font-size: 25px;
}
li > a {
    color: black;
}
.aboutme__container {
    max-width: 100%;
    max-height: 100%;
    padding: 5%;
    margin: auto;
    text-align: center;
}
.aboutme__container > p {
    width: 600px;
    margin: auto;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}
.site__container {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
}
img {
    object-fit: contain;
    max-width: 25%;
    max-height: 25%;
    
}
