* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    background: #051622;
    height: 100vh;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
}
nav {
    width: 100%;
    background: #DEB992;
    height: 100%;
    height: 35px;
}
ul {
  display: inline-flex;
  list-style-type: none;
  float: right;
  max-width: 100%;
  max-height: 100%;
}
li {
    padding: 5px 5px 0 0 ;
    font-size: 20px;

}
li > a {
    color: #051622;
}
.aboutme__container {
    max-width: 100%;
    max-height: 100%;
    color: #1BA098;
    border: solid #1BA098 1px;
    width: 50vw;
    height: 20vh;
    margin: 0 350px 20px;
}
.aboutme__container h3 {
    text-align: center;
    padding-top: 10px;
}
.aboutme__container > p {
    max-width: 100%;
    max-height: 100%;
    color: #DEB992;
    text-align: center;
    padding: 18px;
}
.site__container {
    display: flex;
    justify-content: space-evenly;
}
.image, .site__link{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;   
    border-radius: 12px; 
}
.site1 > .button1 {
    margin-left: 30%;
}
.site2 > .button2 {
    margin-left: 30%;
}
.site3 > .button3 {
    margin-left: 30%;
}
/* .button__container {
    display: flex;
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%;
}
.button2 {
    margin-left: 295px;
}
.button3{
    margin: 0 190px 0 auto;
} */

.button {
    color: #494949;
    text-decoration: none;
    background: #1BA098;
    padding: 20px;
    width: 120px;
    height: 70px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
  background: #DEB992;
  border-color: #DEB992;
  transition: all 0.4s ease 0s;
}
@media (max-width:960px ) {
    .site__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutme__container {
        margin-left: 25vw;
        max-width: 100%;
        max-height: 100%;
        border: hidden;

    }
    .site1 {
        margin-bottom: 20px;
    }
    .site3 {
        margin-top: 20px;
    }
    nav{
        height: 100px;
        display: flex;
    }
 
    ul {
        flex-direction: row;
        padding: 10px;
        align-items: center;
        margin-left: 35%;
    }
    li {
        width: 20px;
        padding: 0 10px 0 10px;
    }
    li > a {
        font-size: xx-large;
    }
  
}
@media screen and (min-width: 1920px){
    .aboutme__container {
        margin-left: 25%;
        height: 150px;
    }
}
@media screen and (max-width: 862px) {
    .aboutme__container{
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 862px) {
    .aboutme__container{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 647px) {
    .aboutme__container {
        height: 200px;
    }
}
@media screen and (max-width: 643px) {
    .aboutme__container{
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 500px) {
    .aboutme__container{
        margin-bottom: 70px;
    }
}
@media screen and (min-width: 450px) {
    .aboutme__container{
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 390px) {
    .aboutme__container{
        height: 350px;
    }
    ul {
        margin-left: 20%;
    }
}
@media screen and (max-width: 412px) {
    .aboutme__container{
        height: 350px;
    }
    ul {
        margin-left: 20%;
    }
}
@media screen and (max-width: 414px) {
    .aboutme__container{
        height: 350px;
    }
    ul {
        margin-left: 20%;
    }
}